<!-- Slider con bootstrap -->
<div id="newsSlider" class="carousel slide carousel-container mb-5">
  <!-- Indicadores -->
  <div class="carousel-indicators">
    @for (noticia of noticias; track $index) {
    <button type="button" data-bs-target="#newsSlider" [attr.data-bs-slide-to]="$index" [class.active]="$index === 0"
      [attr.aria-label]="'Slide ' + ($index + 1)">
    </button>
    }
  </div>

  <!-- Slides -->
  <div class="carousel-inner rounded-3">
    @for (noticia of noticias; track $index) {
    <div class="carousel-item" [class.active]="$index === 0">
      <img [src]="noticia.imageUrl" class="d-block w-100 slider-image" [alt]="noticia.title">
      <div class="carousel-caption caption-style">
        <h5 class="caption-title">{{noticia.title}}</h5>
        <p class="caption-description">{{noticia.description}}</p>
      </div>
    </div>
    }
  </div>

  <!-- Controles -->
  <button class="carousel-control-prev" type="button" data-bs-target="#newsSlider" data-bs-slide="prev"
    [attr.aria-label]="'Previous'">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#newsSlider" data-bs-slide="next"
    [attr.aria-label]="'Next'">
    <span class="carousel-control-next-icon"></span>
  </button>
</div>